In [50]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
# Import the pandas library to read our dataset 
import pandas as pd
# Get the train/test split package from sklearn for preparing our dataset to # train and test the model with 
from sklearn.model_selection import train_test_split
# Import the numpy library to work with and manipulate the data 
# Get the train/test split package from sklearn for preparing our dataset to
# train and test the model with
from sklearn.model_selection import train_test_split
# Import the numpy library to read our dataset 
import numpy as np
# Import the seaborn library to read our dataset 
import seaborn as sns
# Import the matplotlib library to read our dataset 
import matplotlib.pyplot as plt
sns.set(color_codes=True)
# Import the nltk library to read our dataset 
import nltk 
# Import the random library to read our dataset 
import random 
from nltk.tokenize import word_tokenize
# downloading the punkt
nltk.download('punkt') 
# downloading the stopwords
nltk.download('stopwords') 
# downloading the wordnet
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [51]:
# Imported the necessary libraries
import csv
import urllib.request as urllib2
# Importing the matplotlib library
import matplotlib.pyplot as plt
from nltk import FreqDist
# importing the pandas
import pandas as pd
# Importing data using url
url = 'https://raw.githubusercontent.com/cacoderquan/Sentiment-Analysis-on-the-Rotten-Tomatoes-movie-review-dataset/master/train.tsv'
response = urllib2.urlopen(url)

# reading data using pandas and converting into dataframe
df = pd.read_csv(response,delimiter='\t',encoding='utf-8')
df.head()

   PhraseId  ...  Sentiment
0         1  ...          1
1         2  ...          2
2         3  ...          2
3         4  ...          2
4         5  ...          2

[5 rows x 4 columns]

In [52]:
# resetting the index
df = df.sample(frac=1).reset_index(drop=True)
df.head()

   PhraseId  ...  Sentiment
0     51465  ...          3
1     87992  ...          3
2     54192  ...          2
3     18057  ...          2
4    153391  ...          0

[5 rows x 4 columns]

In [53]:
# spliting the both train data and test data in the ratio of 70:30
# setting the random_state to 2003
X_train, X_test, Y_train, Y_test = train_test_split(df ['Phrase'], df ['Sentiment'], test_size=0.3, random_state=2003)
documents=[]
# converting both X_train and Y_train to numpy arrays
X_train = np.array(X_train.values.tolist())
Y_train = np.array(Y_train.values.tolist())

# tokenizing and appending to the document
for i in range(len(X_train)):
  documents.append([list(word_tokenize(X_train[i])), Y_train[i]]) 
# converting both X_test and Y_test to numpy arrays
X_test = np.array(X_test.values.tolist())
Y_test = np.array(Y_test.values.tolist())
for i in range(len(X_test)):
  documents.append([list(word_tokenize(X_test[i])), Y_test[i]]) 

documents[0]

[['possibly', 'the', 'best', 'actor', 'working', 'in', 'movies', 'today'], 4]

In [0]:
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer, PorterStemmer, LancasterStemmer 
porter = PorterStemmer() 
lancaster=LancasterStemmer() 
wordnet_lemmatizer = WordNetLemmatizer() 
stopwords_en = stopwords.words("english") 
punctuations="?:!.,;'\"-()"
#parameters to adjust to see the impact on outcome 
remove_stopwords = True
useStemming = False
useLemma = False
removePuncs = True

In [55]:
#For each and every review for the given document
for l in range(len(documents)): 
  #Have to Save the label                   
  label = documents[l][1]    
  #A new list for new review                       
  tmpReview = []
  #For each and evry word in the review                                  
  for w in documents[l][0]:  
    #Setting the newWork for the updated word                      
    newWord = w        
    #if the given word is a stopword & we need to remove those stopwords                            
    if remove_stopwords and (w in stopwords_en):  
      #skip the word and don’t make in to the normalized review 
      continue  
    #if the given word is a punc & we need to remove those punctuations                                   
    if removePuncs and (w in punctuations): 
      #skip the word and don’t make in to the normalized review       
      continue                                     
    if useStemming:
      #if useStemming is made to True 
      #Using the Lancaster stemmer
      newWord = lancaster.stem(newWord)  
    if useLemma: 
      newWord = wordnet_lemmatizer.lemmatize(newWord) 
    #Adding normalized word to the tmpReview
    tmpReview.append(newWord)  
  #Update the reviews list with clean review                    
  documents[l] = (tmpReview, label)              
  documents[l] = (' '.join(tmpReview), label) 

print(documents[0])

('possibly best actor working movies today', 4)

In [56]:
df = pd.DataFrame(documents, columns=['text', 'sentiment']) 
df.head()

                                       text  sentiment
0  possibly best actor working movies today          4
1                                                    2
2                                  n't much          1
3                          evocative shades          2
4                                 following          2

In [0]:
# spliting the both train data and test data in the ratio of 70:30
# setting the random_state to 2003
X_train, X_test, Y_train, Y_test = train_test_split(df['text'],  df['sentiment'], test_size=0.3, random_state=2003)

In [0]:
# Importing CountVectorizer, TfidVectorizer from sklearn.feature_extraction.text
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer
from keras.utils import to_categorical

vectorizer = TfidfVectorizer(max_features = 2000,ngram_range=(2, 2)) 
X = vectorizer.fit_transform(df["text"]) 
Y = df['sentiment'] 
 
X_train = vectorizer.transform(X_train).toarray()
Y_train = Y_train 
X_test = vectorizer.transform(X_test).toarray()
Y_test = Y_test

In [59]:
Y_test

13510     2
61932     3
82549     1
137718    1
121990    2
         ..
94224     2
135456    2
154729    4
23031     2
57870     4
Name: sentiment, Length: 46818, dtype: int64

In [0]:
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv1D, MaxPooling1D
from keras import backend as K

In [0]:
#Calculating the recall_m value with the true_positives and possible positives
def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

#Calculating the precision_m value with the true_positives and predicted positives
def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision
#Calculating the f1_m value with the precision and recall
def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [0]:
# trainable parameters
batch_size = 64
num_classes = 5
epochs = 12

In [63]:
X_train.shape

(109242, 2000)

In [0]:
# performing categorical function
Y_train = keras.utils.to_categorical(Y_train, num_classes)
Y_test = keras.utils.to_categorical(Y_test, num_classes)

In [65]:
Y_test

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1.]], dtype=float32)

In [0]:

from keras.preprocessing import sequence,text
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Input, Dense, Embedding, Flatten
from keras.layers import SpatialDropout1D
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.models import Sequential

In [0]:
# Definning the model
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3,
                 activation='relu',
                 input_shape=(2000,1)))
model.add(Conv1D(128, kernel_size=5, activation='relu'))
model.add(MaxPooling1D(pool_size=1))
model.add(Dropout(rate = 0.50))
model.add(Flatten())
model.add(Dense(num_classes, activation='softmax'))

In [0]:
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adam(),
              metrics=['accuracy',f1_m,precision_m, recall_m])

In [0]:
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

In [70]:
model.fit(X_train, Y_train,
          batch_size=128,
          epochs=10)
# _, accuracy = model.evaluate(X_test, Y_test, batch_size=batch_size, verbose=0)
score = model.evaluate(X_test, Y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])
print('Test f1-score:', score[2])
print('Test precision:', score[3])
print('Test recall:', score[4])

Epoch 1/10
109242/109242 [==============================] - 87s 800us/step - loss: 1.2578 - acc: 0.5210 - f1_m: 0.3859 - precision_m: 0.5160 - recall_m: 0.3523
Epoch 2/10
109242/109242 [==============================] - 86s 790us/step - loss: 1.2104 - acc: 0.5370 - f1_m: 0.4963 - precision_m: 0.5557 - recall_m: 0.4605
Epoch 3/10
109242/109242 [==============================] - 86s 790us/step - loss: 1.1990 - acc: 0.5395 - f1_m: 0.5001 - precision_m: 0.5568 - recall_m: 0.4647
Epoch 4/10
109242/109242 [==============================] - 86s 788us/step - loss: 1.1932 - acc: 0.5404 - f1_m: 0.5123 - precision_m: 0.5576 - recall_m: 0.4789
Epoch 5/10
109242/109242 [==============================] - 86s 788us/step - loss: 1.1896 - acc: 0.5413 - f1_m: 0.5180 - precision_m: 0.5578 - recall_m: 0.4863
Epoch 6/10
109242/109242 [==============================] - 86s 788us/step - loss: 1.1877 - acc: 0.5417 - f1_m: 0.5198 - precision_m: 0.5584 - recall_m: 0.4885
Epoch 7/10
109242/109242 [==============================] - 86s 788us/step - loss: 1.1863 - acc: 0.5416 - f1_m: 0.5147 - precision_m: 0.5592 - recall_m: 0.4827
Epoch 8/10
109242/109242 [==============================] - 86s 789us/step - loss: 1.1863 - acc: 0.5425 - f1_m: 0.5121 - precision_m: 0.5603 - recall_m: 0.4794
Epoch 9/10
109242/109242 [==============================] - 86s 788us/step - loss: 1.1836 - acc: 0.5434 - f1_m: 0.5229 - precision_m: 0.5595 - recall_m: 0.4927
Epoch 10/10
109242/109242 [==============================] - 86s 788us/step - loss: 1.1821 - acc: 0.5440 - f1_m: 0.5223 - precision_m: 0.5605 - recall_m: 0.4913
Test loss: 1.2215656575839255
Test accuracy: 0.5329146909308385
Test f1-score: 0.5187393197454562
Test precision: 0.5501354790043508
Test recall: 0.49160579264385496

In [71]:
model.save("1110200_1dconv_reg.h5")
print("Saved model to disk")

Saved model to disk

In [72]:

# load and evaluate a saved model
from numpy import loadtxt
from keras.models import load_model
 
# load model
#model = load_model('model.h5')
model = load_model('1110200_1dconv_reg.h5', custom_objects={'f1_m': f1_m, 'precision_m':precision_m, 'recall_m':recall_m})
# summarize model.
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_5 (Conv1D)            (None, 1998, 64)          256
_________________________________________________________________
conv1d_6 (Conv1D)            (None, 1994, 128)         41088
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 1994, 128)         0
_________________________________________________________________
dropout_3 (Dropout)          (None, 1994, 128)         0
_________________________________________________________________
flatten_3 (Flatten)          (None, 255232)            0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 1276165
=================================================================
Total params: 1,317,509
Trainable params: 1,317,509
Non-trainable params: 0
_________________________________________________________________